{% extends "layout_double_sidebar.html" %}

{% block styles %}
<style>
    .svg-img {padding-left:28px;line-height:24px;}
    .folder-close{background:url("{{ url_for('static', filename='imgs/folder-close.svg') }}") no-repeat left top;}
    .folder-open{background:url("{{ url_for('static', filename='imgs/folder-open.svg') }}") no-repeat left top;}
    .paper{background:url("{{ url_for('static', filename='imgs/paper.svg') }}") no-repeat left top;}
    .written-paper{background: url("{{ url_for('static', filename='imgs/written_paper.svg') }}") no-repeat left top;}
</style>
{% endblock styles%}

{% block sidebar_left %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='imgs/paper.svg') }}" />
            Alle Dokumente anzeigen
            <span class="sr-only">(current)</span>
        </a>
    </li>

    <li class="tree">
        <ul class="nav-link">
            <li>
                <a class="svg-img written-paper" href="#">Fachbereiche</a>
                {% if departments %}
                <ul>
                    {% for d in departments %}
                    <li>
                        <a class="svg-img folder-close" href="#">{{ d.name }}</a>
                        {% if d.coursesOfStudy %}
                        <ul>
                            {% for cos in d.coursesOfStudy %}
                            <li>
                                <a class="svg-img folder-close" href="#">{{ cos.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </li>
    <!--<li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='imgs/written_paper.svg') }}" />
            F&auml;cher
        </a>
    </li>-->
</ul>
{% endblock sidebar_left %}

{% block main %}
<h2 class="page-header">{{ showing }}</h2>
<form action="" method="GET">
    <div class="form-row">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Suche..." name="s" value="{{ s }}">
            <select class="custom-select col-1" name="f">
                <option value="0" {% if f == 0 %} selected{% endif %}>Fach</option>
                <option value="1" {% if f == 1 %} selected{% endif %}>Dozent</option>
                <option value="2" {% if f == 2 %} selected{% endif %}>Semester</option>
            </select>
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-secondary" value="Suchen">
            </div>
        </div>
    </div>
</form>
<div class="table-responsive">
    {% if documents %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Fachbereich</th>
                <th scope="col">Fach</th>
                <th scope="col">Typ</th>
                <th scope="col">Dozent</th>
                <th scope="col">Semester</th>
            </tr>
        </thead>
        <tbody>

            {% for doc in documents.items %}
            <tr id="doc_{{ doc.id }}" class="documentRow">
                <td scope="row">{{ doc.course.faculty.name }}</td>
                <td>{{ doc.course.name }}</td>
                <td>{{ doc.type }}</td>
                <td>{{ doc.docent }}</td>
                <td>{{ doc.semester }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item{% if documents.page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('main.home', p=(documents.page - 1), s=s, f=f) }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% for page_num in documents.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=3) %}
            {% if page_num %}
            <li class="page-item{% if documents.page == page_num %} active{% endif %}"><a class="page-link" href="{{ url_for('main.home', p=page_num, s=s, f=f) }}">{{ page_num }}</a></li>
            {% else %}
            <li class="page-item">
                <a class="page-link">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="page-item{% if documents.page == documents.pages %} disabled{% endif %}">
                <a class="page-link" href="{{ url_for('main.home', p=(documents.page + 1), s=s, f=f) }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
    <h4>Derzeit liegen keine Dokumente vor.</h4>
    {% endif %}
</div>
<div class="page">
    <embed class="d-inline-block" src="{{ url_for('static', filename='documents/TestPDF.pdf') }}"
            type="application/pdf" internalinstanceid="5"
            style="width:100%;height:750px" />
</div>
{% endblock main %}

{% block sidebar_right %}
{% endblock sidebar_right %}

{% block scripts %}
<script>
    $(function () {
        $('.tree li').hide();
        $('.tree li:first').show();
        $('.tree li').on('click', function (e) {
            var children = $(this).find('> ul > li');
            if (children.is(":visible")) children.hide('fast');
            else children.show('fast');
            var a = $(this).find('> a');
            if (a.attr("class") == "svg-img folder-close") a.attr("class", "svg-img folder-open");
            else if (a.attr("class") == "svg-img folder-open") a.attr("class", "svg-img folder-close");
            e.stopPropagation();
        });
    });
</script>
{% endblock scripts %}