{% extends "layout_sidebar.html" %}

{% block sidebar %}
<ul class="nav flex-column">
    <li class="tree">
        <ul class="nav-link">
            <li class="keepVisible">
                <a href="{{ url_for('main.list') }}" class="memorylist svg-img paper">Merkliste</a>
            </li>
            <li class="keepVisible">
                <a href="#" class="svg-img written-paper">Fachbereiche</a>
                {% if departments %}
                <ul>
                    {% for d in departments %}
                    <li class="keepVisible">
                        <a href="#" class="svg-img folder-close link-filter" data-filter-column="0" data-filter-text="{{ d.name }}">{{ d.name }} ({{ d.count }})</a>
                        {% if d.courses%}
                        <ul>
                            {% for c in d.courses %}
                            <li>
                                <a href="#" class="svg-img folder-close link-filter" data-filter-column="1" data-filter-text="{{ c.name }}">{{ c.name }} ({{ c.count }})</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </li>
</ul>
{% endblock sidebar %}

{% block main %}
<div class="table-responsive">
    <div id="pager" class="pager">
        <form class="form-inline justify-content-center">
            <input type="button" value="&lt;&lt;" class="first btn btn-secondary mr-1" />
            <input type="button" value="&lt;" class="prev btn btn-secondary mr-2" />
            <input type="text" class="pagedisplay form-control mr-2" />
            <input type="button" value="&gt;" class="next btn btn-secondary mr-1" />
            <input type="button" value="&gt;&gt;" class="last btn btn-secondary mr-2" />
            <select class="pagesize form-control">
                <option value="10">10</option>
                <option selected="selected" value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </form>
    </div>
    <table class="tablesorter" id="documentTable">
        <thead>
            <tr>
                <th scope="col">Fachbereich</th>
                <th scope="col" selected>Fach</th>
                <th scope="col">Typ</th>
                <th scope="col">Dozent</th>
                <th scope="col">Semester</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="pager" class="pager">
        <form class="form-inline justify-content-center mb-3">
            <input type="button" value="&lt;&lt;" class="first btn btn-secondary mr-1" />
            <input type="button" value="&lt;" class="prev btn btn-secondary mr-2" />
            <input type="text" class="pagedisplay form-control mr-2" />
            <input type="button" value="&gt;" class="next btn btn-secondary mr-1" />
            <input type="button" value="&gt;&gt;" class="last btn btn-secondary mr-2" />
            <select class="pagesize form-control">
                <option value="10">10</option>
                <option selected="selected" value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </form>
    </div>
</div>
<div class="page pt-3 mb-3 border-top" style="display: none;">
    <div class="docoptions mb-3">
        <form class="form-inline justify-content-center">
            <input type="button" value="Herunterladen" class="download btn btn-secondary mr-1" style="width: 130px" />
            <input type="button" value="Senden (Mail)" class="sendMail btn btn-secondary mr-1" style="width: 130px" />
            <input type="button" value="Merken" class="addList btn btn-secondary mr-1" style="width: 130px" />
            <input type="button" value="Vergessen" class="removeList btn btn-secondary mr-1" style="width: 130px" />
        </form>
    </div>
    <embed class="d-inline-block pdf-viewer" src="" type="application/pdf" style="width:100%;height:0px" />
</div>
{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.min.js') }}"></script>
<script>
    jQuery.fn.extend({
        scrollToMe: function () {
            var x = jQuery(this).offset().top - 100;
            jQuery('html,body').animate({ scrollTop: x }, 500);
        }
    });

    $(function () {
        var currentDocID = -1;
        var docList = [];
        var url = "/";

        $.cookie.json = true;
        
        if (localStorage.getItem('pdf-viewer-doclist') != null)
            docList = JSON.parse(localStorage.getItem('pdf-viewer-doclist'));
        
        setMemorylistNumber();

        function onList(id) {
            return docList.includes(id);
        }

        function setMemorylistNumber() {
            $('.memorylist')[0].innerText = "Merkliste (" + docList.length + ")";
        }

        $('.download').click(function () {
            window.open(url, '_blank');
        });
        $('.sendMail').click(function () { });
        $('.addList').click(function () {
            docList.push(currentDocID);
            localStorage.setItem('pdf-viewer-doclist', JSON.stringify(docList));
            $('.addList').hide();
            $('.removeList').show();
            setMemorylistNumber();

            $.notify({
                message: 'Dokument wurde der Liste hinzugef&uuml;gt.',
            }, NotificationSetting);
        });
        $('.removeList').click(function () {
            docList.splice(docList.indexOf(currentDocID), 1);
            localStorage.setItem('pdf-viewer-doclist', JSON.stringify(docList));
            $('.removeList').hide();
            $('.addList').show();
            setMemorylistNumber();

            $.notify({
                message: 'Dokument wurde von der Liste entfernt.',
            }, NotificationSetting);
        });

        var $table = $("#documentTable")
            .on('click', 'tbody tr', function () {
                currentDocID = $(this).children().first().attr('id');
                $(this).parent().find("tr.selected").removeClass("selected");
                $(this).addClass("selected");
                if (onList(currentDocID)) {
                    $('.removeList').show();
                    $('.addList').hide();
                } else {
                    $('.removeList').hide();
                    $('.addList').show();
                }
                url = "{{ url_for('api.getDoc') }}?docID=" + currentDocID;
                $('.page.border-top').show()
                $('.pdf-viewer').attr('src', url).attr('style', 'width:100%;height:' + ($(window).height() - 140) + 'px');
                $('.pdf-viewer').scrollToMe();
            })
            .tablesorter({
                resort: true,
                sortReset: true,

                widgets: ['filter'],
                widgetOptions: {
                    filter_external: '.search',
                    filter_liveFilters: true,
                    filter_columnFilters: true,
                    filter_saveFilters: true,
                    filter_placeholder: { search: 'Search...' },
                    filter_defaultFilter: { 1: '~{query}' },
                    filter_reset: '.resetSearch'
                }
            })
            .tablesorterPager({
                container: $(".pager"),
                ajaxUrl: '{{ url_for("api.getExam") }}?page={page+1}&per_page={size}&{sortList:sort}&{filterList:filter}',
                ajaxProcessing: function (ajax, table) {
                    if (ajax && ajax.hasOwnProperty('rows')) {
                        var count = ajax.total_rows;
                        var rows = ajax.rows;
                        $(table).find('tbody').empty();
                        $.each(rows, function (i, item) {
                            var html = "<td id='" + item.ID + "'>" + item.Fachbereich + "</td>" +
                                "<td>" + item.Fach + "</td>" +
                                "<td>" + item.Typ + "</td>" +
                                "<td>" + item.Dozent + "</td>" +
                                "<td>" + item.Semester + "</td>";
                            $("<tr/>").html(html).appendTo(table);
                        });
                        return [count];
                    }
                },
                processAjaxOnInit: true,
                output: '{startRow} - {endRow} / ({totalRows})',
                updateArrows: true,
                page: 1,
                size: 25,
                pageReset: 0,
                removeRows: true,

                cssNext: '.next',
                cssPrev: '.prev',
                cssFirst: '.first',
                cssLast: '.last',
                cssGoto: '.gotoPage',

                cssPageDisplay: '.pagedisplay',
                cssPageSize: '.pagesize',

                cssDisabled: 'disabled',
                cssErrorRow: 'tablesorter-errorRow'
            });

        $.tablesorter.filter.bindSearch($table, $('.search'));

        $('.link-filter').click(function () {
            var col = $(this).data('filter-column'),
                val = $(this).data('filter-text');

            $('.tablesorter-filter[data-column="' + col + '"]').first().val(val).trigger('search', false);
        });

        $('.tree li:not(.keepVisible)').hide();
        $('.tree li').on('click', function (e) {
            var children = $(this).find('> ul > li:not(.keepVisible)');
            if (children.is(":visible")) children.hide('fast');
            else children.show('fast');
            var a = $(this).find('> a');
            a.parent().parent().find('> li > a.folder-open').each(function (n, e) {
                $(e).removeClass("folder-open").addClass("folder-close");
            });
            $(a).removeClass("folder-close").addClass("folder-open");
            e.stopPropagation();
        });
    });
</script>
{% endblock scripts %}